@using AyodhyaYatra_Web.Models;
@{
    ViewBag.Title = "AudioGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var audioGalary = ViewData["AudioGallery"] as List<AttractionImageModel>;
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/temple.jpg);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">Gallery</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="../index.html">Gallery >> </a> </li> <li class="active">Audio Gallery</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-2112" class="post-2112 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="2112" class="elementor elementor-2112">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-cb3bbf9 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="cb3bbf9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-744fef9" data-id="744fef9" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-be43980 elementor-widget elementor-widget-plus_sermons" data-id="be43980" data-element_type="widget" data-widget_type="plus_sermons.default">
                                        <div class="elementor-widget-container">
                                            <script>

                                                jQuery(document).ready(function ($) {

                                                    jQuery(".plyr").musicPlayer({
                                                        elements: ['artwork', 'information', 'controls', 'progress', 'time', 'volume'], // ==> This will display in  the order it is inserted

                                                    });
                                                });

                                            </script>
                                            <style>
                                                .sermons-list .plyr-box {
                                                    margin: 0px;
                                                    border-radius: 1.875rem;
                                                    gap: 1.875rem;
                                                }

                                                .sermons-list .plyr.v4 .player .cover {
                                                    max-width: 4.5rem;
                                                    height: 4.25rem;
                                                    left: 2.1875rem;
                                                    border-radius: 100%;
                                                }

                                                .sermons-list .plyr.v4 .player .info {
                                                    left: 7.8125rem;
                                                }
                                            </style>
                                            <section class="sermons-list">
                                                <div class="w-100 tq-pt-120 tq-gray-layer tq-opc9 tq-pb-120 overflow-hidden position-relative">
                                                    <div class="tq-fixed-bg" style="background-image: url(../Content/wp-content/uploads/bglotus.png);"></div>
                                                    <div class="tq-pat-bg mix-blend-difference-layer position-absolute"></div>
                                                    <div class="container">
                                                        <div class="tq-sermons-wrapper position-relative w-100">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-lg-3">
                                                                    <div class="tq-sec-title-wrapper d-flex flex-column align-items-start position-relative w-100">
                                                                        <div class="tq-sec-title d-flex flex-column">
                                                                            <span>Jai Shree Ram</span>
                                                                            <h2 class="mb-0">Recent Audios</h2>
                                                                        </div><!-- Section Title -->
                                                                        <a class="tq-theme-btn tq-bg-theme rounded-pill" href="#">
                                                                            View All
                                                                        </a>
                                                                    </div><!-- Section Title Wrapper -->
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-lg-9">
                                                                    <div class="tq-sermons-boxes d-flex flex-column align-items-end position-relative w-100">
                                                                        @foreach (var audio in audioGalary)
                                                                        {
                                                                            <div class="plyr-box w-100 pat-bg back-blend-multiply">
                                                                                <div class="plyr v4 w-100">
                                                                                    <ul class="playlist mb-0 list-unstyled">
                                                                                        <li data-cover="https://st.depositphotos.com/1842549/3995/i/450/depositphotos_39953765-stock-photo-speaker-icon.jpg"
                                                                                            data-artist="By UP Tourism)">
                                                                                            @if (audio.FilePath != null)
                                                                                            {
                                                                                                <a href="https://api.ayodhya-dham.in/@audio.FilePath" title="">@audio.Remark</a>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <a href="sample1.mp3" title="">@audio.Remark</a>
                                                                                            }

                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	