@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">Contact us</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="../index.html">Home >></a> </li> <li class="active">Contact us</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-115" class="post-115 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="115" class="elementor elementor-115">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-17675fd elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="17675fd" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cbc0503" data-id="cbc0503" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-286a6d2 elementor-widget elementor-widget-info_contact" data-id="286a6d2" data-element_type="widget" data-widget_type="info_contact.default">
                                        <div class="elementor-widget-container">

                                            <section class="contact-sec">
                                                <div class="gap">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12 col-lg-6">
                                                                <span class="theme-clr">Contact Us</span>
                                                                <h2 itemprop="headline">Contact Details</h2>
                                                                <p>    For Tourism Policy Related Query Contact on this Email id : info@ayodhya-dham.in</p>

                                                                <p>In case you have any query regarding this website, you may write to the Web Information Manager at info@ayodhyayatra.com</p>

                                                                <p>Any feedback, related to content, design, or technology may be submitted at Feedback section.</p>

                                                                <p>You can also contact us at the following address:</p>

                                                                <p><b>Office:</b> Regional Tourist Office, Ayodhya</p>

                                                                <p><b>Email::</b> info@ayodhya-dham.in</p>

                                                                <p><b>Phone::</b> 0542-2505033</p>

                                                                <p><b>Address::</b> Saanskratik Sankul, Ayodhya</p>

                                                                <p><b>Pin::</b> 221002</p>

                                                                <p><b>Website::</b> <a href="https://www.ayodhya-dham.in/">www.ayodhya-dham.in</a></p>

                                                            </div>
                                                            <div class="col-md-6 col-sm-12 col-lg-6">
                                                                <iframe allowfullscreen="" loading="lazy" width="600" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=600&amp;hl=en&amp;q=Regional%20Tourist%20Office,%20Saanskratik%20Sankul,%20Ayodhya+(Ayodhya%20Dham)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                                                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115408.09799676467!2d82.90870587331447!3d25.320894921568556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e2db76febcf4d%3A0x68131710853ff0b5!2sVaranasi%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1683860577365!5m2!1sen!2sin" width="600" height="530" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
                                                                <!--<iframe src="https://maps.googleapis.com/maps/api/js?client=google-maps-embed&amp;paint_origin=&amp;libraries=geometry,search&amp;v=weekly&amp;loading=async&amp;language=en_US&amp;callback=onApiLoad" width="600" height="530" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
                                                                <!--<iframe src="https://maps.googleapis.com/maps/api/js?client=google-maps-embed&amp;paint_origin=&amp;libraries=geometry,search&amp;v=weekly&amp;loading=async&amp;language=en_US&amp;callback=onApiLoad" nonce="" async="" defer=""></iframe>-->

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- #post-## -->

        </div>
    </div>
</div>	