
@{
    ViewBag.Title = "Do & Don't";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">About Us</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">About us >> </a> </li> <li class="active">Overview and Concept</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-962" class="post-962 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="962" class="elementor elementor-962">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-3c9dec7 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="3c9dec7" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-84c440b" data-id="84c440b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-f769b09 elementor-widget elementor-widget-Intro_Block" data-id="f769b09" data-element_type="widget" data-widget_type="Intro_Block.default">
                                        <div class="elementor-widget-container">


                                            <section>
                                                <div class="w-100 position-relative">
                                                    <div class="container">
                                                        <div class="tq-sec-title-wrapper d-flex flex-column align-items-center text-center position-relative w-100">
                                                            <div class="tq-sec-title d-flex flex-column align-items-center text-center">
                                                                <img decoding="async" class="img-fluid" src="../wp-content/plugins/ingeniofy-plus/assets/images/shape2.png" alt="">

                                                                <h2 class="mb-0">Overview and Concept </h2>
                                                            </div><!-- Section Title -->
                                                        </div><!-- Section Title Wrapper -->
                                                        <div class="tq-about-wrapper position-relative w-100">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12">

                                                                    <p style="text-align: justify">Ayodhya, the former capital of the Avadh area, holds a particular place in the hearts of Lord Rama's followers because Rama, the descendant of Manu's Surya Vansh, is closely linked to its history. According to the Atharvaveda, the gods created this holy place, which was as prosperous as paradise. According to scripture, numerous great kings ruled the capital city of Kosaldesh, including Ikshvaku, Prithu, Mandhata, Harishchandra, Sagar, Bhagirath, Raghu, Dileep, Dashrath, and Ram. During their reign, the kingdom's magnificence peaked and exemplified Ram Rajya. The famous epics, Ramayan and ShriRamcharitmanas exhibit the splendour of Ayodhya.</p>
                                                                    <ul class="list">
                                                                        <li>14 Kosi Yatra</li>
                                                                        <li>5 Kosi Parikrama</li>
                                                                        <li>84 Kosi Parikrama</li>

                                                                    </ul>

                                                                    <!-- About Cap -->
                                                                </div>

                                                            </div>
                                                        </div><!-- About Wrapper -->
                                                        <!-- About Image -->
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="elementor-section elementor-top-section elementor-element elementor-element-9dd2e61 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="9dd2e61" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ac3b7b3" data-id="ac3b7b3" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-be2b5b1 elementor-widget elementor-widget-facts_counter" data-id="be2b5b1" data-element_type="widget" data-widget_type="facts_counter.default">
                                        <div class="elementor-widget-container">

                                            <section>
                                                <div class="w-100 tq-pt-50 tq-opc8 tq-pb-120 position-relative">
                                                    <div class="container">
                                                        <div class="tq-fun-facts-wrapper tq-mt-70 position-relative w-100">
                                                            <div class="row">

                                                                <div class="col-md-6 col-sm-12 col-lg-4">
                                                                    <div class="fun-fact-box d-flex flex-column align-items-start position-relative w-100">
                                                                        <h4 class="mb-0">
                                                                            <span class="tq-text-theme">
                                                                                <span class="counter">62</span>
                                                                            </span>
                                                                            Ghat
                                                                        </h4>
                                                                        <p class="mb-0">Ayodhya have over 62 different Ghat.</p>
                                                                    </div><!-- Fun Fact Box -->
                                                                </div>


                                                                <div class="col-md-6 col-sm-12 col-lg-4">
                                                                    <div class="fun-fact-box d-flex flex-column align-items-start position-relative w-100">
                                                                        <h4 class="mb-0">
                                                                            <span class="tq-text-theme">
                                                                                <span class="counter">120</span>
                                                                                K
                                                                            </span>
                                                                            Growing
                                                                        </h4>
                                                                        <p class="mb-0">Over 12,0000 men and women visit daliy ayodhya.</p>
                                                                    </div><!-- Fun Fact Box -->
                                                                </div>


                                                                <div class="col-md-6 col-sm-12 col-lg-4">
                                                                    <div class="fun-fact-box d-flex flex-column align-items-start position-relative w-100">
                                                                        <h4 class="mb-0">
                                                                            <span class="tq-text-theme">
                                                                                <span class="counter">100</span>
                                                                                +
                                                                            </span>
                                                                            Temple
                                                                        </h4>
                                                                        <p class="mb-0">100+ Temples in Ayodhya</p>
                                                                    </div><!-- Fun Fact Box -->
                                                                </div>


                                                            </div>
                                                        </div><!-- Fun Facts Wrapper -->
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	