
@{
    ViewBag.Title = "Do & Don't";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">DO's & Don'ts</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">Quick Link >> </a> </li> <li class="active">DO's & Don'ts</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-962" class="post-962 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="962" class="elementor elementor-962">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-3c9dec7 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="3c9dec7" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-84c440b" data-id="84c440b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-f769b09 elementor-widget elementor-widget-Intro_Block" data-id="f769b09" data-element_type="widget" data-widget_type="Intro_Block.default">
                                        <div class="elementor-widget-container">


                                            <section>
                                                <div class="w-100 position-relative">
                                                    <div class="container">
                                                        <div class="tq-sec-title-wrapper d-flex flex-column align-items-center text-center position-relative w-100">
                                                            <div class="tq-sec-title d-flex flex-column align-items-center text-center">
                                                                <img decoding="async" class="img-fluid" src="../wp-content/plugins/ingeniofy-plus/assets/images/shape2.png" alt="">

                                                                <h3 class="mb-0">DO's & Don'ts </h3>
                                                            </div><!-- Section Title -->
                                                        </div><!-- Section Title Wrapper -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <!--==================Paragraph with image start here=======================-->
                                                                <div>

                                                                    <h4>DO's :</h4>
                                                                    <hr />
                                                                    <p style="text-align:justify">
                                                                        <ul class="gen-list">
                                                                            <li>Respect the traditions and culture of Uttar Pradesh and its people.</li>
                                                                            <li>Wear descent dresses while visiting religious places.</li>
                                                                            <li>Exchange money only at official exchange counters and banks.</li>
                                                                            <li>Only hire guides that are approved by the government and have license.</li>
                                                                            <li>Spend your money wisely.</li>
                                                                            <li>Learn few words of local language that are commonly used here.</li>
                                                                            <li>Buy items that depict the true essence of Uttar Pradesh and are not available elsewhere.</li>

                                                                        </ul>

                                                                    </p>

                                                                    <h4>Don’ts :</h4>
                                                                    <hr />
                                                                    <p style="text-align:justify">
                                                                        <ul class="gen-list">
                                                                            <li>Do not litter, help us in maintaining our cities clean and green.</li>
                                                                            <li>Do not take any photographs that may make people embarrassed.</li>
                                                                            <li>Don’t smoke, don't drink alcohol or don't use drugs at public places and religious spots.</li>
                                                                            <li>Don’t touch or harass animals and support conservation of animals by paying entrance fees to parks and conserved sites.</li>
                                                                            <li>Don’t buy crafts or products made from skin of endangered animals.</li>
                                                                            <li>Do not drive on Indian roads unless you are well-aware about Indian roads and drive to the left of the road.</li>
                                                                            <li>Do not give any offensive comment about any religion; it could be controversial.</li>
                                                                            <li>Do not buy or book hotels/bus/air/railway tickets through strangers or unauthorized agents.</li>
                                                                            <li>Do not hire transportation from unlicensed operators.</li>
                                                                        </ul>

                                                                    </p>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="colspexp-container">

                                                                    </div>
                                                                </div>
                                                                <p><!--=====================Paragraph with image end here==========================-->
                                                            </div>
                                                        </div><!-- About Wrapper -->
                                                        <!-- About Image -->
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>                   
                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	