
@{
    ViewBag.Title = "Key Facts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">Key Facts</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">About us >> </a> </li> <li class="active">Key Facts</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-962" class="post-962 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="962" class="elementor elementor-962">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-3c9dec7 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="3c9dec7" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-84c440b" data-id="84c440b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-f769b09 elementor-widget elementor-widget-Intro_Block" data-id="f769b09" data-element_type="widget" data-widget_type="Intro_Block.default">
                                        <div class="elementor-widget-container">


                                            <section>
                                                <div class="w-100 position-relative">
                                                    <div class="container">
                                                        <div class="tq-sec-title-wrapper d-flex flex-column align-items-center text-center position-relative w-100">
                                                            <div class="tq-sec-title d-flex flex-column align-items-center text-center">
                                                                <img decoding="async" class="img-fluid" src="../wp-content/plugins/ingeniofy-plus/assets/images/shape2.png" alt="">

                                                                <h3 class="mb-0">Key Facts </h3>
                                                            </div><!-- Section Title -->
                                                        </div><!-- Section Title Wrapper -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <!--==================Paragraph with image start here=======================-->
                                                                <div>

                                                                    <h4>Facts About Ram Mandir :</h4>
                                                                    <hr />
                                                                    <p style="text-align:justify">
                                                                        <ul class="gen-list">
                                                                            <li>Biggest Temple in India: Ram Mandir is going to be the largest temple in India. The Sompura family, famous for crafting temples, designed it 30 years ago. It’s expected to be around 161 ft tall and cover a massive area of 28,000 sq ft.</li>
                                                                            <li>Sacred Foundation: The temple’s foundation is special, made with sacred soil from 2587 places, including Jhansi, Haldighati, Golden Temple, and more. It adds a deep spiritual touch to the temple.</li>
                                                                            <li>The Architects: The Sompura family, led by chief architect Chandrakant Sompura and his sons Ashish and Nikhil, has crafted over 100 temples worldwide, including the famous Somnath Temple</li>
                                                                            <li>No Iron or Steel: Unlike many buildings, Ram Mandir doesn’t use any iron or steel. It’s entirely constructed with stones.</li>
                                                                            <li>‘Shri Ram’ Bricks: The bricks used in the temple have ‘Shri Ram’ inscribed on them. This tradition goes back to the construction of Ram Setu and is believed to make the bricks stronger.</li>
                                                                            <li>Soil from Thailand: Soil from Thailand is part of the consecration ceremony, showing the universal appeal of Lord Ram’s legacy.</li>
                                                                            <li>Three Floors of Grandeur: The temple has three floors covering 2.7 acres. The ground floor showcases Lord Ram’s life, and the first floor is all about Lord Ram’s Darbaar, which is made with special pink sandstone.</li>
                                                                            <li>Holy Water from 150 Rivers: During the August 5th ceremony, holy water from 150 rivers across India was used.</li>
                                                                            <li>Time Capsule: A time capsule buried 2000 ft below the temple will have a copper plate with info about the temple, Lord Ram, and Ayodhya for future generations.</li>
                                                                            <li>Nagar Style Architecture: With 360 pillars in the Nagar style, the temple is a visual masterpiece.</li>
                                                                        </ul>
                                                                    </p>                                                                    
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="colspexp-container">

                                                                    </div>
                                                                </div>
                                                                <p><!--=====================Paragraph with image end here==========================-->
                                                            </div>
                                                        </div><!-- About Wrapper -->
                                                        <!-- About Image -->
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>                   
                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	