@{
    ViewBag.Title = "TicketBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/temple.jpg);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">Online Booking</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="../index.html">Online Booking >></a> </li> <li class=" active">Bus Tickting for Tourist</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-962" class="post-962 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="962" class="elementor elementor-962">

                    <section class="elementor-section elementor-top-section elementor-element elementor-element-7d9013b elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="7d9013b" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-57b5290" data-id="57b5290" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-e52ff39 elementor-widget elementor-widget-plus_scholars" data-id="e52ff39" data-element_type="widget" data-widget_type="plus_scholars.default">
                                        <div class="elementor-widget-container">




                                            <section>
                                                <div class="w-100 tq-pt-150 tq-pb-110 position-relative">
                                                    <div class="container">
                                                        <div class="tq-sec-title-wrapper d-flex flex-column align-items-center text-center position-relative w-100">
                                                            <div class="tq-sec-title d-flex flex-column align-items-center text-center">

                                                                <span>Online Booking</span>
                                                                <h2 class="mb-0">Bus Tickting for Tourist</h2>
                                                            </div>
                                                        </div>
                                                        <div class="tq-team-boxes position-relative w-100">
                                                            <div class="row">

                                                                <div class="col-md-6 col-sm-6 col-lg-3">
                                                                    <div class="tq-team-box-wrap position-relative w-100">
                                                                        <div class="tq-team-box d-flex flex-column position-relative w-100">
                                                                            <div class="tq-team-bg tq-bg-color2 position-absolute w-100"
                                                                                 style="background-image: url(../Content/wp-content/uploads/bgback.png);">
                                                                            </div><!-- Team BG -->
                                                                            <div class="tq-team-img position-relative text-center w-100">
                                                                                <img fetchpriority="high" decoding="async" width="240" height="245" src="../Content/wp-content/uploads/TripBook/my.jpeg" class="img-fluid wp-post-image" alt="" />
                                                                            </div>
                                                                            <!-- Team Image -->
                                                                            <div class="tq-team-cap d-flex flex-column align-items-center position-relative w-100">
                                                                                <h5 class="mb-2"><a href="#">Make My Trip</a></h5>


                                                                            </div><!-- Team Cap -->
                                                                        </div><!-- Team Box -->
                                                                    </div><!-- Team Box Wrap -->
                                                                </div>

                                                                <div class="col-md-6 col-sm-6 col-lg-3">
                                                                    <div class="tq-team-box-wrap position-relative w-100">
                                                                        <div class="tq-team-box d-flex flex-column position-relative w-100">
                                                                            <div class="tq-team-bg tq-bg-color2 position-absolute w-100"
                                                                                 style="background-image: url(../Content/wp-content/uploads/bgback.png);">
                                                                            </div><!-- Team BG -->
                                                                            <div class="tq-team-img position-relative text-center w-100">
                                                                                <img decoding="async" width="240" height="245" src="../Content/wp-content/uploads/TripBook/upsrtc.png" class="img-fluid wp-post-image" alt="" />
                                                                            </div>
                                                                            <!-- Team Image -->
                                                                            <div class="tq-team-cap d-flex flex-column align-items-center position-relative w-100">

                                                                                <h5 class="mb-2"><a href="#">UPSRTC</a></h5>

                                                                            </div><!-- Team Cap -->
                                                                        </div><!-- Team Box -->
                                                                    </div><!-- Team Box Wrap -->
                                                                </div>

                                                                <div class="col-md-6 col-sm-6 col-lg-3">
                                                                    <div class="tq-team-box-wrap position-relative w-100">
                                                                        <div class="tq-team-box d-flex flex-column position-relative w-100">
                                                                            <div class="tq-team-bg tq-bg-color2 position-absolute w-100"
                                                                                 style="background-image: url(../Content/wp-content/uploads/bgback.png);">
                                                                            </div><!-- Team BG -->
                                                                            <div class="tq-team-img position-relative text-center w-100">
                                                                                <img fetchpriority="high" decoding="async" width="240" height="245" src="../Content/wp-content/uploads/TripBook/redbus.png" class="img-fluid wp-post-image" alt="" />
                                                                            </div>
                                                                            <!-- Team Image -->
                                                                            <div class="tq-team-cap d-flex flex-column align-items-center position-relative w-100">
                                                                                <h5 class="mb-2"><a href="#">Red Bus</a></h5>


                                                                            </div><!-- Team Cap -->
                                                                        </div><!-- Team Box -->
                                                                    </div><!-- Team Box Wrap -->
                                                                </div>

                                                                <div class="col-md-6 col-sm-6 col-lg-3">
                                                                    <div class="tq-team-box-wrap position-relative w-100">
                                                                        <div class="tq-team-box d-flex flex-column position-relative w-100">
                                                                            <div class="tq-team-bg tq-bg-color2 position-absolute w-100"
                                                                                 style="background-image: url(../Content/wp-content/uploads/bgback.png);">
                                                                            </div><!-- Team BG -->
                                                                            <div class="tq-team-img position-relative text-center w-100">
                                                                                <img decoding="async" width="240" height="245" src="../Content/wp-content/uploads/TripBook/oyo.png" class="img-fluid wp-post-image" alt="" />
                                                                            </div>
                                                                            <!-- Team Image -->
                                                                            <div class="tq-team-cap d-flex flex-column align-items-center position-relative w-100">

                                                                                <h5 class="mb-2"><a href="#">OYO Rooms</a></h5>

                                                                            </div><!-- Team Cap -->
                                                                        </div><!-- Team Box -->
                                                                    </div><!-- Team Box Wrap -->
                                                                </div>

                                                                <div class="col-md-6 col-sm-6 col-lg-3">
                                                                    <div class="tq-team-box-wrap position-relative w-100">
                                                                        <div class="tq-team-box d-flex flex-column position-relative w-100">
                                                                            <div class="tq-team-bg tq-bg-color2 position-absolute w-100"
                                                                                 style="background-image: url(../Content/wp-content/uploads/bgback.png);">
                                                                            </div><!-- Team BG -->
                                                                            <div class="tq-team-img position-relative text-center w-100">
                                                                                <img fetchpriority="high" decoding="async" width="240" height="245" src="../Content/wp-content/uploads/TripBook/trivago.png" class="img-fluid wp-post-image" alt="" />
                                                                            </div>
                                                                            <!-- Team Image -->
                                                                            <div class="tq-team-cap d-flex flex-column align-items-center position-relative w-100">
                                                                                <h5 class="mb-2"><a href="#">Trivago</a></h5>


                                                                            </div><!-- Team Cap -->
                                                                        </div><!-- Team Box -->
                                                                    </div><!-- Team Box Wrap -->
                                                                </div>

                                                                <div class="col-md-6 col-sm-6 col-lg-3">
                                                                    <div class="tq-team-box-wrap position-relative w-100">
                                                                        <div class="tq-team-box d-flex flex-column position-relative w-100">
                                                                            <div class="tq-team-bg tq-bg-color2 position-absolute w-100"
                                                                                 style="background-image: url(../Content/wp-content/uploads/bgback.png);">
                                                                            </div><!-- Team BG -->
                                                                            <div class="tq-team-img position-relative text-center w-100">
                                                                                <img decoding="async" width="240" height="245" src="../Content/wp-content/uploads/TripBook/agoda.png" class="img-fluid wp-post-image" alt="" />
                                                                            </div>
                                                                            <!-- Team Image -->
                                                                            <div class="tq-team-cap d-flex flex-column align-items-center position-relative w-100">

                                                                                <h5 class="mb-2"><a href="#">Agoda</a></h5>

                                                                            </div><!-- Team Cap -->
                                                                        </div><!-- Team Box -->
                                                                    </div><!-- Team Box Wrap -->
                                                                </div>

                                                                <div class="col-md-6 col-sm-6 col-lg-3">
                                                                    <div class="tq-team-box-wrap position-relative w-100">
                                                                        <div class="tq-team-box d-flex flex-column position-relative w-100">
                                                                            <div class="tq-team-bg tq-bg-color2 position-absolute w-100"
                                                                                 style="background-image: url(../Content/wp-content/uploads/bgback.png);">
                                                                            </div><!-- Team BG -->
                                                                            <div class="tq-team-img position-relative text-center w-100">
                                                                                <img fetchpriority="high" decoding="async" width="240" height="245" src="../Content/wp-content/uploads/TripBook/easemytrip.png" class="img-fluid wp-post-image" alt="" />
                                                                            </div>
                                                                            <!-- Team Image -->
                                                                            <div class="tq-team-cap d-flex flex-column align-items-center position-relative w-100">
                                                                                <h5 class="mb-2"><a href="#">Easy my Trip</a></h5>


                                                                            </div><!-- Team Cap -->
                                                                        </div><!-- Team Box -->
                                                                    </div><!-- Team Box Wrap -->
                                                                </div>



                                                            </div>
                                                        </div><!-- Team Boxes -->
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>
