
@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">Under Construction</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">Home >></a> </li> <li class="active">Error 404</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap">
        <div class="container">
            <div class="error-page">
                <div class="error-page-inner">
                    <h1>4<i>0</i>4</h1>
                    <span>Error! <span class="theme-clr">Web Page is in Under Construction</span></span>
                    <p itemprop="description">It seems we cant find what you are looking for. Perhaps searching can help or go <a class="theme-clr" href="#" itemprop="url">Back To Hompage</a></p>

                </div>
            </div><!-- Error Page -->
        </div>
    </div>
</section>